@import "tailwindcss";

@theme {
  --color-brand-bg: #0F172A;
  --color-brand-sidebar: #0B3C5D;
  --color-brand-card: #1E293B;
  --color-brand-accent: #3B82F6;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-brand-bg);
  color: white;
}
